<header>
    <a id="restaurant" href="/restaurants/{{restaurant._id}}">Back to Restaurant Page</a>
</header>
<main>
    <div id="inspection-details-container">
        <h2 id="inspection-restaurant">Regarding Inspection {{inspection.camis}} for {{restaurant.name}}</h2>
        <p id="inspection-date">Inspection Date: {{inspection.inspectionDate}}</p>
        <p id="inspection-type">Inspection Type: {{inspection.inspectionType}}</p>
        <p id="inspection-action">Inspection Done: {{inspection.action}}</p>
        <p id="inspection-score">Inspection Score: {{inspection.score}}</p>
        <p id="inspection-grade">Inspection Grade: {{inspection.grade}}</p>
        <p id="inspection-gradeDate">Grade Date: {{inspection.gradeDate}}</p>
        <p id="inspection-recordDate">Record Date: {{inspection.recordDate}}</p>
        <ul>
            {{#each inspection.violations}}
            <li>
                <strong>Code: {{this.violationCode}}</strong> <br>
                Description: {{this.violationDescription}}
            </li>
            {{/each}}
        </ul>
    </div>
</main>